/*全局基础样式*/
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html, body,header,main,footer, div, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, p, blockquote, pre, button, fieldset, form, input, legend, textarea, th, td {
    margin: 0;
    padding: 0;
}
html, body {
    color: #333;
    height: 100%;
    font-family: "Myriad Set Pro", "Helvetica Neue",
}
body {
    background-color: #fafafa;
    color: #666;
    font: .5rem Arial,Verdana, "microsoft yahei" ;
    min-width: 1500px !important;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font:inherit;
    color: inherit;
    outline: none;
}
a {
    text-decoration: none;
    color: #666;
}
a:hover {
    color: #eee;
    text-decoration: none;
}
img {
    border: 0;
}
li {
    list-style: none;
}
body .container {
    width: 1220px !important;
}
main {
    background-color: #ededed;
}
input::-webkit-input-placeholder{
    color: #ccc;
    font-size: 12px;
}
input:focus {
    border:1px solid #369;
    box-shadow: 0 0 1px 0 #369;
}
/* 复选⚪效果 ---start */
.radio {
    position: relative;
    display: inline-block;
}
.radio input[type="checkbox"] {
    width: 100%;/*把label和input绑定*/
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 999;
}
.radio .fa-check-circle {
    height: 15px;
    width: 15px;
    border: 1px solid #ddd;
    border-radius: 50%;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    color: transparent;
}
.radio .fa-2x {
    font-size: 2em;
}
.radio  .fa-check-circle::before,
.radio input[type="checkbox"]:checked ~ label .fa-check-circle::before {
    color: #5bc0de;
    border-color: #5bc0de;
    position: absolute;
    top: -2px;
    left: 0;
    transition: all .5s linear;
}
.radio  .fa-check-circle::before{
    transition: all .5s linear;
    border-color: transparent;
    color: transparent;
}
/*  复选⚪效果 ---end */